body
{
    background-image: linear-gradient(to right, rgba(153,204,255,1), rgba(153,255,255,1));
    color: white;
}

main
{
    background-color: white;
    color: black;
    padding: 11px;
}

.navbar-border
{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin-top: 15px;
}

.footer-border
{
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    margin-bottom: 15px;
}

@media (max-width: 991px)
{
    .button-margin
    {
        margin-top: 8px;
    }
}
